(
  items: [
  (
      frequency: 6,
      item: HealingPotion(6),
    ),
    (
      frequency: 10,
      item: HealingPotion(2)
    ),
    (
      frequency: 1,
      item: Map
    ),
    (
      frequency: 1,
      item:Weapon(HugeSword)
    ),
    (
      frequency: 4,
      item: Weapon(RustySword)
    ),
    (
      frequency: 3,
      item: Weapon(ShinySword)
    ),
  ],
  monsters: [
    (
    frequency: 1,
    monster: Ettin
  ),
  (
    frequency: 10,
    monster: Goblin
  ),
  (
    frequency: 5,
    monster: Ogre
  ),
  (
    frequency: 7,
    monster: Orc
  ),
  ]
)
