(
  items: [
  (
      frequency: 6,
      item: HealingPotion(6),
    ),
    (
      frequency: 10,
      item: HealingPotion(2)
    ),
    (
      frequency: 1,
      item: Map
    ),
    (
      frequency: 1,
      item:Weapon(HugeSword)
    ),
    (
      frequency: 4,
      item: Weapon(RustySword)
    ),
    (
      frequency: 3,
      item: Weapon(ShinySword)
    ),
  ],
  monsters: [
    (
    color: (red: 0.9, green: 0.1, blue: 0.1, alpha: 1.0),
    damage: 3,
    frequency: 1,
    health: 10,
    monster: Ettin
  ),
  (
    color: (red: 0.6, green: 0.4, blue: 0.4, alpha: 1.0),
    damage: 1,
    frequency: 10,
    health: 1,
    monster: Goblin
  ),
  (
    color: (red: 0.8, green: 0.2, blue: 0.2, alpha: 1.0),
    damage: 2,
    frequency: 5,
    health: 2,
    monster: Ogre
  ),
  (
    color: (red: 0.7, green: 0.3, blue: 0.3, alpha: 1.0),
    damage: 1,
    frequency: 7,
    health: 2,
    monster: Orc
  ),
  ]
)
